* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: -apple-system;
    margin: 0px;
}

.table-wrapper {
    overflow: scroll;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    height: 30px;
    width: 100px;
    padding: 0px;
}

tbody tr td:first-of-type {
    background-color: #eee;
    text-align: center;
}

th {
    background-color: #eee;
    text-align: center;
    font-weight: 400;
}

button {
    height: 30px;
    width: 30px;
}

.wrapper {
    display: flex; 
    flex-direction: row;
}

.r0 {
    background-color: #ddd;
    height: 30px;
}

.c0 {
    background-color: #ddd;
    width: 30px;
}

#top-left {
    margin-top: 60px;
}

#left-top {
    margin-left: 100px;
}
